body {
    padding: 10px;
}

.listingsContainer {
  width: 100%;
}

.listingItem {
  display: flex;
  margin-top: 10px;
  height: 225px;
}

.listingItemInfo {
  float: right;
  padding:30px;
  width: 70%;
}

.listingItemImage {
  width: 30%;
  float: left;
}

.listingItemPrice {
  margin-top: 5px;
}

.listingItemDescription {
  margin-top: 5px;
}

.itemImage {
    width: auto;
    height: 100%;
    padding: 50px;
}

.itemTitle {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.itemPrice {
  text-decoration: none;
  color: black;
}

.itemDescription {
  text-decoration: none;
  color: black;
}

.listingHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listingWatchlistStar {
  height: 25px;
  margin-bottom: 10px;
}

.listingImage {
  height: 250px;
  padding: 20px;
}

.listingPriceContainer, .categoriesContainer {
  margin-top: 10px;
}

.submitBidContainer, .submitCommentContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.submitBidButton, .submitCommentButton {
  margin-left: 20px;
}

.latestCommentContainer, .latestCommentHeaderContainer{
  margin-top: 10px;
}

.latestCommentContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.categoriesContainer {
  padding-left: 10px;
}

.category {
  margin-bottom: 10px;
}

#listingFormDescription {
    height: 30vh;
    width: 100%;
}

#listingFormTitle {
  width: 50%;
}

#listingFormImageLink {
  width: 50%;
}

#listingFormStartingPrice {
  width: 15%;
}
