{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="listingsContainer">
      {% for l in listings %}
      <a href="{% url 'auctions:listing' l.id %}">
        <div class="listingItem border">
          <div class="listingItemImage">
            <img class="itemImage" src="{{ l.imageLink }}">
          </div>
          <div class="listingItemInfo">
            <div class="listingItemTitle">
              <span class="itemTitle">{{ l.title }}</span>
            </div>
            <div class="listingItemPrice">
              <span class="itemPrice">
                <strong>Price: </strong>$
                {% if l.lastBid is None %}
                  {{ l.startingPrice }}
                {% else %}
                  {{ l.lastBid.price }}
                {% endif %}
              </span>
            </div>
            <div class="listingItemDescription">
              <small><span class="itemDescription">{{ l.description }}</span></small>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
{% endblock %}
