{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ heading }}</h2>
    <div class="listingsContainer">
      {% for l in listings %}
      <a href="{% url 'auctions:listing' l.id %}">
        <div class="listingItem border">
          <div class="listingItemImage">
            {% if l.imageLink is not None %}
            <img class="itemImage" src="{{ l.imageLink }}">
            {% else %}
            <img class="itemImage" src="/static/image/no-image.png">
            {% endif %}
          </div>
          <div class="listingItemInfo">
            <div class="listingItemTitle">
              <span class="itemTitle">{{ l.title }}</span>
            </div>
            <div class="listingItemPrice">
              <span class="itemPrice">
                <strong>Price: </strong>$
                {% if l.lastBid is None %}
                  {{ l.startingPrice }}
                {% else %}
                  {{ l.lastBid.price }}
                {% endif %}
              </span>
            </div>
            <div class="listingItemDescription">
              <small class="itemDescription">{{ l.description }}</small>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
{% endblock %}
