{% extends "auctions/layout.html" %}

{% block body %}
  <div class="listingHeaderContainer">
    <div class="listingTitleContainer">
      <h2>Listing: {{ listing.title }}</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="listingWatchlistStarContainer">
      {% if user not in watchers %}
        <a href="{% url 'auctions:addwatch' listing.id %}">
          <img class="listingWatchlistStar" src="/static/image/icon/star.png" title="Add to Watchlist">
        </a>
      {% else %}
        <a href="{% url 'auctions:removewatch' listing.id %}">
          <img class="listingWatchlistStar" src="/static/image/icon/star-filled.png" title="Remove from Watchlist">
        </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="listingImageContainer">
    <img class="listingImage" src="{{ listing.imageLink }}">
  </div>
  <div class="listingDescriptionContainer">
    <small><span class="itemDescription">{{ listing.description }}</span></small>
  </div>
  <div class="listingPriceContainer">
    <span class="itemPrice">
      <strong>Price: </strong>$
      {% if listing.lastBid is None %}
        {{ listing.startingPrice }}<small><i>&nbsp;&nbsp;&nbsp;(No bids yet)</i></small>
      {% else %}
        {{ listing.lastBid.price }}
      {% endif %}
    </span>
  </div>
  {% if user.is_authenticated and listing.creator.username != user.username %}
  <div class="listingBidContainer">
    {% if listing.active %}
    <form action="{% url 'auctions:bid' listing.id %}" method="post">
      {% csrf_token %}
      <div class="submitBidContainer">
        {{ bidForm }}
        <input class="submitBidButton btn btn-primary" type="submit" value="Place Bid">
      </div>
    </form>
    {% else %}
    <div class="submitBidContainer">
      <strong>Auction is closed.</strong>
      {% if listing.lastBid.bidder.username == user.username %}
      <strong>&nbsp;Congratulations! You won this auction.</strong>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% elif user.is_authenticated and listing.creator.username == user.username %}
  <div class="listingBidContainer">
    {% if listing.active %}
    <form action="{% url 'auctions:close' listing.id %}" method="post">
      {% csrf_token %}
      <div class="submitBidContainer">
        <input class="submitCloseButton btn btn-danger" type="submit" value="Close Auction">
      </div>
    </form>
    {% else %}
    <div class="submitBidContainer">
      <strong>Auction is closed. </strong>
      {% if listing.lastBid is not None %}
      <strong>&nbsp;{{ listing.lastBid.bidder.username }}&nbsp;won this auction.</strong>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
